# ========================
# DATABASE CONFIG
# ========================
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=vums_db
DB_USERNAME=root
DB_PASSWORD=12345

# ========================
# APP SETTINGS
# ========================
APP_NAME=VUMS
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/vums_report/public

# ========================
# TIMEZONE
# ========================
APP_TIMEZONE=Asia/Manila
# ========================
# SECURITY / JWT CONFIG
# ========================
SECRET_KEY=a884f1b233f22bd8a2e7585f442d11265435375efb256a056b6d099b02076ed4
JWT_EXPIRATION=3600

#========================
# GOOGLE API KEY
#========================
GOOGLE_API_KEY=AIzaSyBwGqXpCLxVvAfKZ5yGCDwunDQMAHKHff4



curl "https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent" \
  -H 'Content-Type: application/json' \
  -H 'X-goog-api-key: AIzaSyBwGqXpCLxVvAfKZ5yGCDwunDQMAHKHff4' \
  -X POST \
  -d '{
    "contents": [
      {
        "parts": [
          {
            "text": "Explain how AI works in a few words"
          }
        ]
      }
    ]
  }'